$light-mode-accent: #FFB01F;
$light-mode-text: #0B0A07;
$light-mode-bg: #F7F2F2;

$light-mode-link: #808F85;
$light-mode-link-hover: #738278;
$light-mode-link-active: #FFB01F;
$light-mode-link-visited: #2B2D42;

$light-mode-primary-light: #808F85;
$light-mode-primary-dark: #2B2D42;

$dark-mode-accent: #FFB833;
$dark-mode-text: #FFFFFF;
$dark-mode-bg: #191119;

$dark-mode-link: #FFB833;
$dark-mode-link-hover: #F59F00;
$dark-mode-link-active: #939F97;
$dark-mode-link-visited: #494C6F;

$dark-mode-primary-light: #939F97;
$dark-mode-primary-dark: #494C6F;
