@import "../../styles/colors.scss";

header {
    padding: 1rem 0 3rem;
}

.title {
    font-size: 3rem;
    text-decoration: none;
    font-weight: bolder;

    &.light-mode {
        color: $light-mode-text;
    }

    &.dark-mode {
        color: $dark-mode-text;    
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    margin-right: 1.3rem;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: bold;

    &.light-mode{
        color: $light-mode-primary-light;
    }
    &.light-mode:hover{
        color: $light-mode-primary-light;
    }
    &.light-mode:selected{
        color: $light-mode-primary-light;
    }
    &.dark-mode {
        color: $dark-mode-accent;
        margin-right: 1.3rem;
        text-decoration: none;
    }
}